
  <h3>Fourth of July Savings</h3>
 <h4>Celebrate Independence with a 4% Discount on Entire Order !
 </h4>
 <h2>Discount Code: <span style="color: blue !important; font-size: 200%;"> 
   July4th4%! </span>
 </h2>

