<h5 style="font-size:2rem; color:blue">Rentals</h5>
If you would like to rent this product, please call or email Online Sales & Support.

<h5 style="font-size:2rem; margin-top:2rem;color:red;">Online Sales & Support</h5>
<p>Contact <a href="mailto:support@gqeuip.com">support@gequip.com</a> or call 
  <a href="tel:864.757.5282">864.757.5248</a> for any questions or concerns. </p>