{% style %}
  a, a:hover {
    text-decoration:none;
  }
  a:hover {
    opacity:0.5;
  }
{% endstyle %}
<div style="display:flex;flex-wrap:wrap;justify-contents:space-between;height:auto;">
  <div style="height:300px; width:300px;background:salmon;margin:3rem; ">
    <a href="#">
      <img
        src=" https://cdn.shopify.com/s/files/1/0064/7597/2675/files/greenlee-classic-electric-bender-with-single-rigid-group-555rsc-lifestyle.jpg?v=1710781188 "
        height="300"
        width="300"
      >
      <h2>Electric Bending Machines</h2>
    </a>
  </div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>

  <div style="height:500px; width:500px;background:salmon;margin:3rem;">grid</div>
</div>
